name: Scrape Data

on:
  schedule:
    - cron: '0 * * * *' # 每小时执行一次
  workflow_dispatch: # 允许手动点击运行
permissions:
  contents: write
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v3

    - name: Fetch data
      run: |
        # 请求数据并覆盖保存到 data.json 文件
        curl "https://qinqing.hangzhou.gov.cn/qqent/330109_077/api/admin/summation" -o data.json
        
        # 也可以追加保存到 log.txt
        echo "$(date) - $(cat data.json)" >> log.txt

    - name: Commit and push if it changed
      run: |
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
